@font-face {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/web/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/web/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/web/gilroylight.woff2") format("woff2");
  src: url("../fonts/web/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/web/opensans.woff2") format("woff2");
  src: url("../fonts/web/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open-Sans-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/web/opensanslight.woff2") format("woff2");
  src: url("../fonts/web/opensanslight.woff") format("woff");
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  border:0;
}

a {
  text-decoration: none;
}

.subtitle {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.link-more {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 226px;
  min-height: 40px;
  padding-left: 22px;
  margin-left: 20px;
  margin-right: 154px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  word-wrap: break-word;

  outline: none;
}

.link-more.top-slider::after {
  position: absolute;
  z-index: -1;
  top: 7px;
  right: 26px;
  width: 220px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  -webkit-transition: 0.5s ease;

  -o-transition: 0.5s ease;

  transition: 0.5s ease;
}

.link-more.top-slider:hover::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.link-more.top-slider:focus::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.link-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.button {
  opacity: 0;
  width: 85px;
  height: 49px;

  font: inherit;
  text-align: center;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;

  cursor: pointer;
}

.button:focus {
  opacity: 1;
  background-color: #000000;
  color: #ffffff;
}

.button:hover {
  color: #ffffff;
  background-color: #000000;
}

.button:active {
  display: block;

  font: inherit;
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.index-header {
  min-height: 299px;
}

.logo {
  display: block;
  position: absolute;
  top: -19px;

  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.main-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
  width: 1160px;

  font: inherit;

  background-color: #f8e297;
}

.main-header.catalog-header {
  min-height: 186px;
}

.user-header {
  margin-top: 32px;
  margin-bottom: 30px;
}

.user-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 441px;
  height: 49px;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  vertical-align: middle;
  padding-left: 36px;


  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;


  background-image: url("../img/search.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 55%;
  border: none;
  border-bottom: 2px solid transparent;

  cursor: pointer;
}


input[type="search"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}


input[type="search"]:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}


input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}


input[type="search"]:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}


input[type="search"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

input[type="search"]:focus::-moz-placeholder {
  color: #000000;
}

input[type="search"]:focus:-ms-input-placeholder {
  color: #000000;
}

input[type="search"]:focus::-ms-input-placeholder {
  color: #000000;
}

input[type="search"]:focus::placeholder {
  color: #000000;
}

input[type="search"]:focus ~ button {
  opacity: 1;
}



.user-navigation,
.catalog-navigation {
  list-style: none;
}

.user-navigation {
  width: 500px;
  min-height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  padding-left: 0;
}

.user-name-link {
  margin-right: 20px;
}

.user-navigation li:nth-last-child(2) {
  margin-left: auto;
  margin-right: 38px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 24px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation .navigation-item:first-of-type() {
  position: relative;
  margin-left: auto;
  margin-right: 38px;
}

.site-navigation .navigation-item:nth-of-type(2) {
  margin-left: auto;
  margin-right: 33px;
}

.site-navigation .navigation-item:nth-of-type(3) {
  margin-right: 105px;
}

.user-navigation-item a,
.navigation-item a {
  display: block;

  color: #000000;
}

.user-navigation-item a:hover,
.navigation-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-item a:focus,
.navigation-item a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-icon::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 2px;
  right: 5px;
  width: 10px;
  height: 10px;
  margin-left: 16px;

  content: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  opacity: 0.3;
}

.user-navigation-item a:hover {
  opacity: 0.6;
}

.user-navigation-item a:active {
  opacity: 0.3;
}

.icon-header svg{
  margin-right: 8px;
}

.navigation-item a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-item a {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
  color: #000000;
}

.catalog-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-item a:focus {
  color: rgba(0, 0, 0, 0.3);
}


.catalog-navigation-wrapper {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  background-color: #f8e297;
}

.catalog-navigation-wrapper.index {
  padding-bottom: 61px;
}

.catalog-navigation-wrapper li {
  margin-right: 30px;
}

.catalog-navigation {
  min-height: 108px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  margin: 0;
  padding: 0;
}

.site-navigation .catalog-navigation-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  left: 0;
  width: 1160px;
  min-height: 126px;
  padding-left: 60px;
}

.site-navigation .navigation-item:hover .catalog-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.catalog-icon:focus + .catalog-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.product-slider {
  width: 1160px;
  position: relative;
  top: -110px;
  z-index: 0;
  margin-right: auto;
  margin-left: auto;

  overflow: hidden;
}

.top-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3480px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.subtitle-slider {
  width: 550px;
  min-height: 112px;
  margin: 0;
  margin-top: 76px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;

  word-wrap: break-word;
}

.inner-header {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.table {
  min-width: 440px;
  margin-top: 41px;
  margin-bottom: 27px;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
}

.table .table-row:first-of-type {
  margin-bottom: 8px;

  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}

.table .table-row:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.table-cell {
  min-height: 48px;
  margin-right: 80px;
  word-wrap: break-word;
}

.second-cell .table-cell{
  min-height: 20px;
  word-wrap: break-word;
}

.table-row .table-cell:nth-of-type(2) {
  margin: 0;
  margin-right: 76px;
}

.second-cell .table-cell:nth-of-type(2) {
  margin: 0;
  margin-right: 80px;
}



.products-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.products-item-container .container {
  position: relative;
}

.products-item-container .container::before {
  position: absolute;
  top: 35px;
  display: block;
  width: 100px;
  height: 8px;
  content: "";

  background-color: #ffffff;
}

.products-item-container img {
  margin-left: 90px;
  margin-right: 165px;
}

.products-item-container.selfie img {
  margin-right: 124px;
}

.copter img {
  margin-left: 36px;
  margin-right: 40px;
}

p.selfie-preview {
  width: 485px;
  min-height: 60px;
  margin: 0;
  margin-top: 19px;
  margin-right: 50px;
  margin-bottom: 52px;
  word-wrap: normal;
}

p.tracker-preview,
p.copter-preview {
  width: 430px;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 31px;
}

.num-slide {
  position: absolute;
  left: 330px;
  top: -20px;
  z-index: -1;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.selfie {
  z-index: 1;
}

.slider-controls {
  width: 550px;
  min-height: 12px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product-slider input[type="radio"] {
  opacity: 0;
}

.slider-controls label {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  margin-bottom: 10px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}

.label-wrapper {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-slider input:first-of-type:checked ~ .top-products .slider-controls label[for="btn-1"],
.product-slider input:nth-of-type(2):checked ~ .top-products .slider-controls label[for="btn-2"],
.product-slider input:nth-of-type(3):checked ~ .top-products .slider-controls label[for="btn-3"] {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 21px;

  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-slider input:first-of-type:focus ~ .top-products .slider-controls label[for="btn-1"],
.product-slider input:nth-of-type(2):focus ~ .top-products .slider-controls label[for="btn-2"],
.product-slider input:nth-of-type(3):focus ~ .top-products .slider-controls label[for="btn-3"] {
  outline: 2px solid #8dbbc9;
}

.product-slider input:first-of-type:checked ~ .top-products .top-products-item{
  -webkit-transform: (0);
          -ms-transform: (0);
      transform: (0);
}

.product-slider input:nth-of-type(2):checked ~ .top-products .top-products-item,
.product-slider input:nth-of-type(2):focus ~ .top-products .top-products-item {
  -webkit-transform: translateX(-1160px);
          -ms-transform: translateX(-1160px);
      transform: translateX(-1160px);
}

.product-slider input:nth-of-type(3):checked ~ .top-products .top-products-item,
.product-slider input:nth-of-type(3):focus ~ .top-products .top-products-item{
  -webkit-transform: translateX(-2320px);
          -ms-transform: translateX(-2320px);
      transform: translateX(-2320px);
}

.catalog-links {
  list-style: none;
}

.catalog-item-header {
  margin: 0;
  margin-top: 33px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.catalog-item-header.monopod {
  width: 93px;
}

.catalog-section {
  margin-top: -52px;
  margin-bottom: 82px;
}

.catalog-section-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-section-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-links li {
  width: 160px;
}

.catalog-links-item a,
.catalog-links-item a:hover {
  position: relative;
  display: block;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.link-image::after {
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  width: 160px;
  height: 160px;
  content: "";

  background-color: rgba(240, 197, 46, 0.5);
}

.link-image::before{
  display: block;
  width: 160px;
  height: 160px;
  content: "";
}

.link-image::before {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.virtual-link.link-image::before {
  background-image: url("../img/popular-1.svg");
}

.monopod-link.link-image::before {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 100%;
}

.action-link.link-image::before {
  background-image: url("../img/popular-3.svg");
}

.fitness-link.link-image::before {
  background-image: url("../img/popular-4.svg");
}

.watch-link.link-image::before {
  background-image: url("../img/popular-5.svg");
}

.copter-link.link-image::before {
  background-image: url("../img/popular-6.svg");
}

.link-image:hover::after {
  background-color: #f0c52e;
}

.link-image:active::before {
  opacity: 0.3;
}

.link-image:active .catalog-item-header {
  color: rgba(0, 0, 0, 0.3);
}

.info-slider {
  margin-bottom: 96px;
  background-image: -webkit-gradient(linear,left bottom, left top,color-stop(74%, #e5e5e5), color-stop(26%, transparent));
  background-image: -o-linear-gradient(bottom,#e5e5e5 74%, transparent 26%);
  background-image: linear-gradient(to top,#e5e5e5 74%, transparent 26%);
}

.info-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.switch-info-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 280px; /*for IE11*/
  border-right: 7px solid #000000;
}

.switch-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 278px;
  min-height: 250px;
  border-right: 7px solid #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 68px;
  padding-top: 68px;
}

.radio-container {
  position: relative;
  top: 360px;
  left: 870px;
  z-index: 2;
  width: 100px;
  min-height: 12px;
}

.info-section-header {
  margin: 0;
  margin-top: 72px;
  margin-left: 117px;
  margin-bottom: 32px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.79px;
  color: #000000;
}

.info-section p {
  width: 420px;
  margin-left: 116px;
}

.info-section {
  min-width: 880px; /*for IE11*/

  background-repeat: no-repeat;
  background-position-x: 672px;
  background-position-y: 40px;
}

.info-section.delivery {
  background-image: url("../img/delivery.svg");
  background-position-y: 85px;
}

.info-section.warranty {
  background-image: url("../img/warranty.svg");
}

.info-section.credit {
  background-image: url("../img/credit.svg");
}

.info-slides-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 880px;
  min-height: 367px;

  overflow: hidden;
}

.inner-wrapper-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
}

.switch-info label{
  display: inline-block ;
  text-align: center;
  margin-bottom: 43px;


  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;

  cursor: pointer;
}

.switch-info label:nth-of-type(2) {
  margin-bottom: 26px;
}

.select-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  height: 40px;
}

.select-info::after {
  position: absolute;
  display: block;
  bottom: 23px;
  z-index: -1;
  width: 160px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  -webkit-transition: all 0.2s ease-in;

  -o-transition: all 0.2s ease-in;

  transition: all 0.2s ease-in;
}

.select-info:hover::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}


.info-container input[type="radio"]:nth-child(1):checked ~ .switch-info label[for="btn-4"] span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 12px;
  left: -1px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 280px;
  height: 40px;
  padding-top: 7px;
  padding-left: 20px;

  text-align: left;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #f7e184;

  background-color: #000000;

  -webkit-transition: all 0.2s ease-in;

  -o-transition: all 0.2s ease-in;

  transition: all 0.2s ease-in;
}

.info-container input[type="radio"]:nth-child(2):checked ~ .switch-info label[for="btn-5"] span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -7px;
  left: 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 281px;
  height: 40px;
  padding-top: 7px;
  padding-left: 20px;

  text-align: left;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #f7e184;

  background-color: #000000;

  -webkit-transition: all 0.2s ease-in;

  -o-transition: all 0.2s ease-in;

  transition: all 0.2s ease-in;
}

.info-container input[type="radio"]:nth-child(3):checked  ~ .switch-info label[for="btn-6"] span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -7px;
  left: 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 281px;
  height: 40px;
  padding-top: 7px;
  padding-left: 20px;

  text-align: left;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #f7e184;

  background-color: #000000;

  -webkit-transition: all 0.2s ease-in;

  -o-transition: all 0.2s ease-in;

  transition: all 0.2s ease-in;
}

.info-container input[type="radio"]:nth-child(1):checked  ~ .switch-info label:first-of-type::after {
  display: none;
}

input[name="info-slider"] {
  position: absolute;
  opacity: 0;
}

.info-container input[type="radio"]:nth-child(1):checked ~ .info-slides-wrapper .inner-wrapper-slides {
  -webkit-transform: translate(0);
          -ms-transform: translate(0);
      transform: translate(0);
}

.info-container input[type="radio"]:nth-child(2):checked ~ .info-slides-wrapper .inner-wrapper-slides {
  -webkit-transform: translate(-880px);
          -ms-transform: translate(-880px);
      transform: translate(-880px);
}

.info-container input[type="radio"]:nth-child(3):checked ~ .info-slides-wrapper .inner-wrapper-slides {
  -webkit-transform: translate(-1760px);
          -ms-transform: translate(-1760px);
      transform: translate(-1760px);
}

.manufactures-list li {
  opacity: 0.2;
}

.manufactures-list li:hover {
  opacity: 1;
}

.manufactures {
  margin-bottom: 84px;
}

.manufactures-list {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.manufactures-list li:not(:last-of-type) {
  margin-right: 20px;
  margin-left: 20px;
}

.manufactures-list li:nth-last-of-type(2) {
  margin-right: 37px;
}

.manufactures-list {
  list-style: none;
}

.index-column {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
}

.index-column .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.about {
  width: 480px;
  min-height: 315px;
}

.about::before {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  content: "";

  background-color: #000000;
}

h3.subtitle {
  width: 460px;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 43px;
}

.about p {
  width: 487px;
  margin-bottom: 30px;
}

.link-more-index {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 310px;
  min-height: 40px;
  padding-left: 2px;
  margin-left: 20px;
  margin-right: 154px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  word-wrap: break-word;

  outline: none;
}

.link-more-index.write-us {

}

.link-more-index::after {
  display: block;
  position: absolute;
  top: 7px;
  left: -20px;
  z-index: -1;
  width: 260px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  -webkit-transition: 0.5s ease;

  -o-transition: 0.5s ease;

  transition: 0.5s ease;;
}

.link-more-index:hover::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.link-more-index:focus::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.write-us {
  width: 310px;
  padding-left: 20px;
}

.write-us::after {
  position: absolute;
  z-index: -1;
  top: 7px;
  left: -20px;
  width: 260px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  -webkit-transition: 0.5s ease;

  -o-transition: 0.5s ease;

  transition: 0.5s ease;
}

.write-us:hover::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.write-us:focus::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.contacts {
  width: 560px;
  min-height: 315px;
}

.contacts::before {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 7px;
  content: "";

  background-color: #000000;
}

.delivery-companies {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 67px;
  margin-bottom: 61px;
}

.delivery-companies li {
  position: relative;
  padding-left: 35px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.15px;
}

.delivery-item::before {
  display: block;
  position: absolute;
  top: 35%;
  left: 0;
  width: 4px;
  height: 4px;
  content: "";

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.map {
  display: block;
  margin-top: 39px;
  margin-bottom: 68px;
}

.main-footer {
  position: relative;
  margin-top: 0;

  background-color: #464646;
}

.main-footer-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1162px;
  margin-right: auto;
  margin-left: auto;
}

.logo-footer {
  cursor: pointer;
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.footer-user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

.footer-user-list,
.footer-site-nav,
.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fotter-user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
width: 365px;
min-height: 44px;
margin: 0;
padding: 0;
margin-top: -2px;
margin-left: 670px;
}

.fotter-user-list.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 522px;
  min-height: 44px;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  margin-left: 519px;
}

.fotter-user-list-item:not(:nth-of-type(3n)) {
  margin-right: 43px;
}

.fotter-user-list .fotter-user-list-item:nth-of-type(2n) {
  margin: 0;
  margin-right: 33px;
}

.fotter-user-list.catalog li:first-of-type {
  margin: 0;
  margin-right: 20px;
}

.fotter-user-list.catalog li:nth-of-type(2) {
  margin: 0;
  margin-right: 43px;
}

.fotter-user-list.catalog li:nth-of-type(3) {
  margin: 0;
  margin-right: 35px;
}

.fotter-user-list.catalog li:last-of-type {
  margin: 0;
}

.fotter-user-list-item a {
  display: block;

  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgb(255, 255, 255);
  fill: #ffc600;

  opacity: 0.7;
}

.fotter-user-list-item a:hover {
  color: rgb(255, 255, 255);
  fill: #ffc600;

  opacity: 1;
}

.fotter-user-list-item a:active {
  color: rgb(255, 255, 255);
  fill: #ffc600;

  opacity: 0.3;
}

.icon-foot svg {
  margin-right: 14px;
}

.icon-foot.compare-icon svg {
  margin: 0;
  margin-right: 12px;
}


.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 60px;
  margin-top: 21px;
}

.footer-contacts p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 201px;
  margin: 0;

  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
}

.footer-contacts .phone {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  text-align: right;
  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.footer-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  margin-left: 22px;
}

.footer-site-nav .footer-site-nav-item:first-of-type {
  margin-right: 37px;
}

.footer-site-nav .footer-site-nav-item:last-of-type {
  margin-left: 31px;
}

.footer-site-nav-item a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-site-nav-item a:hover {
  color:rgba(255, 255, 255, 0.6);
}

.footer-site-nav-item a:focus {
  color:rgba(255, 255, 255, 0.3);
}

.phone a {
  color: #ffffff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  list-style: none;
  width: 690px;
  margin-top: 60px;
  margin-bottom: 57px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 170px;
  min-height: 44px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  margin-left: 17px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 11px;
  margin-right: 11px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.social-link:hover {
  opacity: 0.6;
}

.social-link:focus {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.footer-contacts::before {
  display: block;
  position: absolute;
  content: "";
  bottom: 81px;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.link-fb {
  background-image: url("../img/fb.svg");
}

.link-inst {
  background-image: url("../img/instagram.svg");
}

.link-tw {
  background-image: url("../img/twitter.svg");
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.modal-feedback {
  display: none;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-top: -276px;
  margin-left: -480px;
  z-index: 3;
  width: 960px;
  height: 553px;
  padding-top: 99px;

  background-color: #ffffff;

  -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

          box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

  -webkit-animation-name: apperance;

          animation-name: apperance;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
}

.form-point {
  margin: 0;
}

.form-point label {
  display: block;
  margin-bottom: 13px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;
  margin-left: 100px;
  margin-right: 100px;
}

.user-fields-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-fields-wrapper .form-point {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 39px;
}

input.user-info[type="text"],
input.user-info[type="email"],
textarea[id="letter-text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-top: 19px;
  padding-left: 20px;
  padding-bottom: 21px;

  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  border: none;
  background-color: #f2f2f2;

  cursor: pointer;
}

input.user-info[type="text"]:hover,
input.user-info[type="email"]:hover,
textarea[id="letter-text"]:hover {
  color: rgba(70, 70, 70, 0.4);
  background-color: #eaeaea;
}

input.user-info[type="text"]:focus,
input.user-info[type="email"]:focus,
textarea[id="letter-text"]:focus {
  color: #464646;
  background-color: #ffffff;
  border: 3px solid #f7e296;
}

input.user-info[type="text"]:invalid,
input.user-info[type="email"]:invalid,
textarea[id="letter-text"]:invalid {
  color:rgba(70, 70, 70, 0.4);
  background-color: #f6dada;
  border: none;
}

textarea.user-letter {
  width: 760px;
  height: 156px;
  margin-bottom: 55px;

  resize: none;
}

.close-button {
  border: none;
  background-color: transparent;
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 2;
  width: 55px;
  height: 55px;
  content: "";

  background-image: url("../img/modal-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.5;

  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.modal-feedback .close-button::before {
  position: absolute;
  top: 20px;
  left: 870px;
}

.button-submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 180px;
  height: 40px;
  padding-left: 45px;
  padding-right: 43px;
  margin-top: 22px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  border: none;
  background-color: transparent;

  cursor: pointer;

  outline: none;
}

.button-submit::after {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 200px;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  -webkit-transition: 0.5s ease;

  -o-transition: 0.5s ease;

  transition: 0.5s ease;
}

.button-submit.modal::after {
  left: 8%;
}

.button-submit:hover::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.button-submit:focus::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.button-submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-adress {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-top: -276px;
  margin-left: -480px;
  width: 960px;

  -webkit-animation-name: apperance-map;

          animation-name: apperance-map;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal-adress iframe {
  position: absolute;
  top: 0;
  z-index: 1;

  border: 0;
}

.map-img {
  position: absolute;
  z-index: 0;
  width: 960px;
  height: 559px;

}

.modal-show {
  display: block;
}

.modal-adress .close-button::before {
  position: absolute;
  top: 20px;
  right: 20px;
}

.breadcrumbs-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 37px;
  margin-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.inner-header-container {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  margin-top: 30px;
}

.inner-header {
  margin: 0;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 23px;

  list-style: none;
}

.breadcrumbs-item {
  margin-right: 39px;
}

.breadcrumbs-item a {
  position: relative;
  display: block;

  font-family:"Open-Sans-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.breadcrumbs-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-item a[href]::after {
  position: absolute;
  display: block;
  top: 33%;
  left: 100%;
  width: 4px;
  height: 7px;
  margin-left: 17px;
  content: "";

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.custom-action-wrapper {
  display: none;
}

.custom-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 379px;

  background-color: rgba(238, 238, 238, 0.7);
}

.sort-goods-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  background-color: #ebebeb;
}

.product-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 832px;
  background-color: #fff;

}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 69px;
  margin-bottom: 17px;
  padding-left: 73px;

  list-style: none;
}


.product-list .product-item:first-of-type {
  position: relative;
  width: 360px;

  margin-top: 0;
  margin-right: 39px;

  cursor: pointer;
}

.product-list .product-item:nth-of-type(2) {
  position: relative;
  width: 360px;

  margin-top: 0px;
  margin-right: 0;

  cursor: pointer;
}

.product-list .product-item:nth-of-type(3) {
  position: relative;
  width: 360px;

  margin-top: 43px;
  margin-right: 39px;

  cursor: pointer;
}

.product-list .product-item:nth-of-type(4) {
  position: relative;
  width: 360px;

  margin-top: 45px;
  margin-right: 0;

  cursor: pointer;
}

.product-item::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  z-index: -1;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  vertical-align: middle;
  text-align: center;
  content: "NEW";

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.product-item:hover .custom-action-wrapper {
  display: block;
}

.item-info-container:focus ~ .custom-action-wrapper {
  display: block;
}

.item-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}

.item-info-container.prof-monopod,
.item-info-container.hand-monopod {
  -webkit-box-pack: ;
      -ms-flex-pack: ;
          justify-content: ;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-info-container.swim-monopod {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-info-container.swim-monopod h3 {
  margin-right: 25px;
}

.item-info-container.prof-monopod span {
  padding-right: 0px;
}

.item-info-container span {
  padding-top: 4px;
}

.filter-form {
  width: 328px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-wrapper-background {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #d9d9d9), color-stop(40%, #ebebeb));
  background-image: -o-linear-gradient(left, #d9d9d9 40%, #ebebeb 40%);
  background-image: linear-gradient(to right, #d9d9d9 40%, #ebebeb 40%);
}

.product-list-wrapper-background {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #ebebeb), color-stop(40%, transparent));
  background-image: -o-linear-gradient(left, #ebebeb 40%, transparent 40%);
  background-image: linear-gradient(to right, #ebebeb 40%, transparent 40%);
}

.filter-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  min-height: 71px;
  background-color: #ebebeb;
}

.header-filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  padding-top: 24px;
  padding-right: 179px;

  text-align: right;
  text-transform: uppercase;
  width: 328px;
  min-height: 71px;
  margin: 0;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;

  overflow-wrap: break-word;

  background-color: #d9d9d9;
}

.sorting-settings {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 71px;
  margin: 0;
  padding: 0;

  background-color: #ebebeb;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 19px;
  margin-left: 44px;

  list-style: none;
}

.sort-btn-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  margin: 0;
  margin-left: auto;
  padding: 0;


  list-style: none;
}

li.sorting-btn-item {
  margin-right: 10px;
}

.sort-btn {
  position: absolute;
  display: block;
  top: 30px;
  width: 11px;
  height: 10px;

  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-btn:hover {
  opacity: 0.4;
}

.sort-btn:active {
  opacity: 1;
}

.up-btn {
  background-image: url("../img/icon-up-dir.svg");
}

.down-btn {
  background-image: url("../img/icon-down-dir.svg");
}

.filter-cost legend,
.filter-color legend {
  width: 100px;
  min-height: 24px;
  margin-bottom: 18px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;

  overflow-wrap: break-word;
}

.filter-bluetooth legend {
  width: 100px;
  min-height: 24px;
  margin-bottom: 23px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;

  overflow-wrap: break-word;
}

.form-wrapper .container {
  border-top: 2px solid #000;
  padding-top: 10px;
}

.container-form {
  width: 201px;
  margin-top: 69px;
  margin-left: 58px;
  padding-top: 11px;

  border-top: 2px solid #000;
}

.filter-cost {
  min-height: 127px;
}

.range-filter {
  width: 100%;
}

.range-controls {
  position: relative;
  height: 2px;
  padding-top: 17px;
  padding-right: 20px;

  background-color: transparent;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #91c92f;
}

.toggle {
  position: absolute;
  top: 10px;
  width: 17px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
  background-size: contain;

  cursor: pointer;
}

.toggle:active {
  width: 20px;
  height: 23px;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 120px;
}

.range-controls .scale {
  width: 196px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;

  background-color: #dbdbdb;
}

.price-controls {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 80px;

  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);

  white-space: nowrap;
}

.price-controls input {
  width: 55px;

  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);

  background-color: transparent;
  border: none;
}

.option {
  display: block;
}

.check {
  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;

  cursor: pointer;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-input {
  position: relative;
  top: 5px;
  width: 23px;
  height: 23px;
  margin-right: 18px;

  background-image: url("../img/checkbox-off.svg");

  cursor: pointer;
}

.check-input:checked {
  background-image: url("../img/checkbox-on.svg");
}

.check-input:focus + .check-box {
  background-color: #f0c52e;
}

.check-input:disabled {
  opacity: 0.25;
}

.check-input:checked:disabled {
  opacity: 0.25;
}

.check-input:disabled  label.check{
  color: #ebebeb;
}

.color-item,
.bluetooth-item {
  margin: 0;

  font-family:"Open-Sans-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.form-wrapper .container.bluetoth-legend {
  padding: 0;
  border: none;
  border-top: 2px solid #000;
  margin-top: 31px;
  margin-right: 7px;
  padding-top: 10px;
  padding-left: 2px;
}

input[name="bluetooth"] {
  position: absolute;
  opacity: 0;
}

.radio {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 40px;
  margin-bottom: 12px;
}

.radio::before {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  content: "";

  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked + .radio::before {
  background-image: url("../img/radio-on.svg");
}

input[type="radio"]:focus + .radio::before {
  outline: 2px solid #8dbbc9;
}


.header-sort {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-left: 72px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4.2px;
  color: #000000;

  text-transform: uppercase;
}

.sorting-item {
  margin-right: 28px;
}

.sorting-item a {
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:focus {
  color: #000000;
}

.subtitle-product {
  margin: 0;
}

.subtitle-product h3 {
  margin: 0;

  font-family: "Open-Sans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #464646;
}

.subtitle-product a {
  color: #464646;
}

.subtitle-product{
  margin: 0;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.18px;
  color: #000000;
}

.long-subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 180px;
}

.product-item span {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #464646;
}

.to-cart {
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  height: 40px;
  padding-top: 5px;
  padding-left: 50px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;

  text-transform: uppercase;
}

.to-cart::after {
  position: absolute;
      top: 31%;
    right: 10%;
  z-index: -1;
  width: 80%;
  height: 8px;
  content: "";

  background-color: #f0c52e;

  -webkit-transition: 0.5s ease;

  -o-transition: 0.5s ease;

  transition: 0.5s ease;
}

.to-cart:hover::after {
  -webkit-transform: scaleY(5);
          -ms-transform: scaleY(5);
      transform: scaleY(5);
}

.to-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.to-compare {
  font-family:"Open-Sans-Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.to-compare:hover {
  color: #000000;
}

.to-compare:focus {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 770px;
  margin-top: 14px;
  margin-bottom: 78px;
  margin-left: 70px;

  background-color: #ebebeb;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  margin-right: 89px;

  list-style: none;
}

.pagination-item {
  margin-top: 20px;
  margin-right: 29px;
}

.button-pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 136px;
  min-height: 70px;
  padding-top: 25px;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ebebeb;

  text-align: center;

  word-wrap: break-word;
}

.button-pagination:hover {
  background-color: #d9d9d9;
}

.button-pagination:active {
  color: rgba(0, 0, 0, 0.3);
}

.next-button {
  margin-right: 203px;
}

.pagination-item a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color:#000000
}

.pagination-item a[href] {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color:rgba(0, 0, 0, 0.3);
}

.pagination-item a[href]:hover {
  color:rgba(0, 0, 0, 0.6);
}

.pagination-item a[href]:focus {
  color:rgba(0, 0, 0, 1);
}

@-webkit-keyframes apperance {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}


@keyframes apperance {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  70% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  90% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@-webkit-keyframes apperance-map {
  0% {
    -webkit-transform: translateY(+5000px);
            transform: translateY(+5000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes apperance-map {
  0% {
    -webkit-transform: translateY(+5000px);
            transform: translateY(+5000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
